<!DOCTYPE html>
<html lang="en">


    <head>

    <style>
        /* Style for the navigation bar */
        .navbar {
            background-color: #333;
            width: 150px;
            position: fixed;
            height: 100%;
            overflow: hidden;
            padding: 20px 50px 1000px 50px; /* Adjust the padding */
            left: 0; /* Position the navigation bar flush with the left edge */
            top: 0;
        }
        
        /* Style for the navigation bar list items */
        .navbar ul {
            list-style: none;
            padding: 0;
        }
        
        /* Style for the navigation bar links */
        .navbar li {
            margin: 10px 0;
        }
        
        .navbar a {
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block; /* Display the links as blocks for full width */
        }
        
        /* Change the link color on hover */
        .navbar a:hover {
            color: #ddd;
        }
    </style>
    </head>
   <body>



	<div class="navbar">
    <ul>
        <li><a href="resume.pdf" download>Resume</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://github.com/alektebel">Github</a></li>
        <li><a href="linkedin.com/in/diego-rodríguez-atencia-45a249190">LinkedIn</a></li>


    </ul>
</div>



        <!-- Footer-->
       <!-- Bootstrap core JS-->
        <!-- Core theme JS-->

	<%- include('layouts/scripts'); -%>
    </body>
</html>
